@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import '~antd/dist/antd.dark.css';

* { 
    margin: 0;
}

body {
    background-color: #151516 !important
}

header {
    background-color: #111313
}

* {
    color: white;
    font-family: "Roboto", sans-serif;
}

html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}

#root {
    min-height: 100vh;
    padding-bottom: 8rem;
    position: relative;
}

footer {
  font-size: 16px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 3rem;
  height: 5rem; 
  text-align: center;
}

.accent-1 {
    background-color: rgb(29, 28, 28)
}

.accent-2 {
    background-color: rgb(54, 53, 53);
}